<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773974095573-6ia8dphfg4vif1k36768j51lusp9t3i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773974095573-6ia8dphfg4vif1k36768j51lusp9t3i6</string>
	<key>API_KEY</key>
	<string>AIzaSyBttRaVJD9y7GtWBcLGI973yGo_wm2lUhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>773974095573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mokshitgogia.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-5cb05</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-5cb05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773974095573:ios:3e86a82d80d345cee1d45c</string>
</dict>
</plist>